body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #222;
  transition: all ease .3s;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: all 0.3s ;
}

/* HERO */
.hero {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to right, #6b46c1, #d53f8c);
  color: white;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* PROJETOS */
.projetos {
  padding: 60px 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform .2s;
}

.card:hover {
  transform: translateY(-5px);
}

/* SKILLS */
.skills {
  padding: 50px;
  background: white;
  text-align: center;
}

.skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
  margin-top: 40px;
}
.menu a:hover{
 color: #6b46c1;
  transform: scale(1.1);
  border-bottom: aquamarine solid 2px;
}
.logo {
  color: #d53f8c;
}
.escuro  {
  background-color: #222;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.5s;
}
body.escuro .card{
  background: #121212;
  color: white;
}
body.escuro .skills{
  background: #121212;
  color: white;
}
body.escuro h2{
  color: #6b46c1;
  background: #121212;
  background: none;
}
body.escuro .header{
  background: #121212;

}
body.escuro .menu a{
  color: white;
}
body.escuro .menu a:hover{
color:#6b46c1;
}

